<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/images/wellness.jpg" alt="Image not found" height="150px" width="150px">
            </div>
            <ul class="nav navbar-nav">
                <!-- <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 2</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                <li>
                    <form action="/logout-others" method="post">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <button type="submit" class="btn btn-success">Logout from Other Devices</button>
                    </form>
                </li>
                <br><br>
                <li>
                    <form action="/logout-all" method="post">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <input type="hidden" name="allDevices" value="true">
                        <button type="submit" class="btn btn-success">Logout All Devices</button>
                    </form>
                </li>
                <br><br>
                <li>
                    <form action="/logout" method="post">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <input type="hidden" name="allDevices" value="true">
                        <button type="submit" class="btn btn-success">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>